<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zoomby [OPR]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="wrapper" style="background-color: rgb(0, 102, 153); height: auto; min-height: 100%;">
        <div class="col-lg-6">
            <a class="navbar navbar-brand" href="#">
                <p style="padding-inline-start:16px">
                            <strong>
                              <font color="white">Zoomby </font> <font color="#FF4500">[OPR]</font>
                            </strong>
                        </p>
            </a>
        </div>
    </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="navbar-fixed-bottom" style="background-color:#006699">
            <div class="container-fluid">
                <div class="row m-2">
                    <marquee class="py-3" scrollamount="5">
                        <p style="padding-top:1px">
                            <strong>
                                <font color="white">Selamat Datang di Zoom Scheduler BNI - OPR </font> <font color="#FF4500">[BNI]</font>
                                <font color="white">Diingatkan Untuk Selalu Mematuhi Protokol Kesehatan Sesuai Anjuran Pemerintah </font><font color="#FF4500">[BNI]</font>
                                <font color="white">Selalu Menerapkan 3 M : Memakai Masker , Mencuci Tangan dan Menjaga Jarak</font>
                            </strong>
                        </p>
                    </marquee>
                </div>
            </div>

        </footer>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebApplication2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
